/* FontAwesome Library */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
/* Lato Font */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Color Vars */
:root {
  --primary-color: #443fb2;
  --secondary-color: #6255ff;
  --tertiary-color: #4b10b2;
  --accent-color: #ffa500;
  --accent-color-alt: orangered;
  --text-color: #f3f3f3;
  --dark-color-zero: #111;
  --dark-color-one: #333;
  --dark-color-two: #555;
  --gradient: linear-gradient(
    135deg,
    var(--primary-color),
    #9e9ed8 55%,
    var(--secondary-color) 77%,
    var(--primary-color) 100%
  );
  --gradient-alt: linear-gradient(
    135deg,
    #e6e6ff,
    #443fb2 30%,
    #6255ff 77%,
    #e6e6ff 100%
  );
}

/* Custom Animations */
@keyframes pulse-border {
  0% {
    border-color: var(--primary-color);
  }
  25% {
    border-color: var(--secondary-color);
  }
  50% {
    border-color: var(--tertiary-color);
  }
  75% {
    border-color: var(--secondary-color);
  }
  100% {
    border-color: var(--primary-color);
  }
}
@keyframes pulse-color {
  0% {
    color: var(--primary-color);
  }
  25% {
    color: var(--secondary-color);
  }
  50% {
    color: var(--tertiary-color);
  }
  75% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
  }
}

/* Smoooth snap scrolling */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* Flex <aside> and <main> elements horizontally in the window */
body {
  display: flex;
  margin: 0;
  background-color: var(--accent-color);
  font-family: "Lato", sans-serif;
}

/* Flex <main> contents vertically in the window */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#home {
  background: var(--gradient);
}
.hero {
  margin-bottom: 30px;
}
.hero h1 {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: bold;
  color: var(--text-color);
}
.hero h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--text-color);
}
/* Circle Portrait Border*/
figure {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 200px;
  height: 175px;
  margin: 0 auto;
  animation: pulse-border 10s ease infinite;
  border: 7px solid var(--secondary-color);
  border-radius: 100%;
}
/* Portrait */
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 100%;
}
/* Social Links */
.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.links a {
  animation: pulse-color 10s ease infinite;
  color: var(--tertiary-color);
  text-decoration: none;
}
.links a:hover {
  animation: none;
  color: var(--accent-color);
}
.links a:active {
  transform: scale(2);
}

/* Sidebar */
nav.stickybar {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 60px;
  height: 100vh;
  background-color: var(--dark-color-zero);
  border-top-right-radius: 25px;
}
/* Add spacing at the top */
nav.stickybar::before {
  content: "";
  height: 10px;
}
nav.stickybar > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 45px;
  height: 45px;
  transition: background-color 0.3s ease;
  background-color: var(--dark-color-zero);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
nav.stickybar > button:hover {
  background-color: var(--dark-color-one);
}
nav.stickybar > button:active {
  background-color: var(--dark-color-two);
}

/* 1 page = 100% window height*/
.page {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2rem;
  color: var(--text-color);
}

iframe {
  border-radius: 10px;
}
/* Brand-colored borders */
iframe.twitch {
  border: 5px solid #9146ff;
}
iframe.youtube {
  border: 5px solid #ff0000;
}

.text-center {
  text-align: center;
}

/* Alternating Page Backgrounds */
.page:nth-child(even) {
  background-color: var(--primary-color);
}
.page:nth-child(odd) {
  background-color: var(--secondary-color);
}

/* me: (╯°□°）╯ mobile: ︵ ┻━┻ */
@media screen and (max-width: 480px) {
  .links {
    gap: 10px;
    transform: scale(0.7);
    margin-bottom: 3rem;
    padding: 25px;
    background-color: var(--dark-color-zero);
    border-radius: 25px;
  }
}
