<meta
  name="google-site-verification"
  content="aDK5UCX4NrZaTRH6SfaPcz30zfTrFr9rTa-x7hFSr50"
/>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
/>

<script src="{{ site.baseurl }}/assets/js/card-generator.js" defer></script>
<script
  src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"
  defer
></script>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '538361511731789864', // Apple Community
    channel: '538361917987618831' // Announcements
  })
</script>
