/* Brand-related */
iframe {
  border-radius: 10px;
}
#tiktok .loading {
  background: #ff0050;
  border: 5px solid black;
  border-radius: 25px;
}
iframe.twitch {
  border: 5px solid #9146ff;
}
iframe.youtube {
  border: 5px solid #ff0000;
}
/* TikTok Embed */
#tiktok a {
  display: inline-block;
  position: relative;
  padding: 0 5px;
  transition: transform 0.3s;
  font-size: 32px;
  font-weight: bold;
  color: #00f2ea;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}
#tiktok a:hover {
  transform: translateY(-3px);
}
blockquote i {
  margin: 1rem;
  color: #000;
}
/* --- */
